body{
    background-color: #DCDCDC;
    margin: 0px;
}

h1{
    font-size: 40px;
    font-family: sans-serif;
    font-style: oblique;
    text-align: center;
    color: white;
}

label{
    font-size: 30px;
    padding-right: 10px;
    padding-left: 20px;

    font-weight: bold;
}

input{
    background-color: #FFFAF0;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    text-align: right;
    padding-left: 15px;
    color: #008000;
}

#btn_group{
    text-align: center;
    padding: 10px;
}

button{
    position: relative;
    font-size: 25px;
    border-radius: 10px;
    border: 5px;
    padding: 5px 10px 5px 10px;
    margin-left: 30px;   
}

#btn_limpar{
    background-color: #FFA500;
    color: white;
    font-weight: bold;
}

#btn_gerarTabela{
    background-color: #008000;
    color: white;
    font-weight: bold;
}

section#formulario{
    background-color: #4682B4;
    padding: 20px;
    margin: 50px 80px;
    border-radius: 10px;
    font-style: italic;
    color: white;
}

section#resposta{
    background-color: #DCDCDC;
    padding: 10px;
    margin: 50px 80px;
    border-radius: 10px;
    font-size: 18px;
    font-style: italic;
    color: black;
    text-align: center;
    align-items: center;
}

table{
    background-color: white;
    border-radius: 5px;
    border-color: black;
    padding: 5px;
    position: relative;
}

#rodape{
    background-color: #4682B4;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 5px 80px;
}